/* BASE */
:root {
    --dark: #373737;
    --medium-dark: #607c77;
    --medium: #aeaeae;
    --medium-light: #f3d0c0;
    --light: #e8e8e8;
  }

html, body {
    background-color: var(--medium-dark);
    color: var(--dark)
}

html {
    scroll-behavior: smooth;
}


/* NAV BAR */
nav {
    background-color: var(--medium-dark);
    color: var(--light);
    fill: var(--light)
}

.navbar-brand {
    background-color: var(--medium-dark);
    color: var(--light)
}

.navbar-brand .active a:hover {
    color: var(--medium-light)
}

.navbar-brand .active a:focus {
    color: var(--medium-light)
}

.navbar-nav .nav-link {
    background-color: var(--medium-dark);
    color: var(--light); 
    margin-right: 0.52vw;
}

/* FRAG ONE */
.fragment-one {
    background-image: url(../images/cxr1.jpg);
    background-size: 100%;
    background-color: var(--medium);
    padding-top: 5.73vw;
    padding-bottom: 5.21vw;
}

.fragment-one h1 {
    text-align: center;
}

.fragment-one h3 {
    text-align: center;
}


/* FRAG TWO */
.fragment-two {
    background-color: var(--light);
    padding-bottom: 1.56vw;
}

.fragment-two .row {
    padding-top: 1.56vw;
    padding-left: 3.65vw;
}

.fragment-two h1 {
    background-color: var(--medium-dark);
    color: var(--light);
    text-align: center;
    font-size: x-large;
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
}

.fragment-two h2 {
    text-align: justify;
    font-size: large;
    padding-top: 1.04vw;
    padding-right: 6.25vw;
    padding-left: 6.25vw;
    padding-bottom: 1.04vw;
}

.fragment-two h3 {
    text-align: justify;
    font-size: large;
    padding-top: 1.04vw;
    padding-right: 6.25vw;
    padding-left: 2.08vw;
    padding-bottom: 1.04vw;
}

.fragment-two img {
    float: right;
    padding-bottom: 0.52vw;
    max-height: 21vw;
}


/* FRAG THREE */
.fragment-three {
    background-color: var(--light);
}

.fragment-three .row {
    padding-top: 1.56vw;
    padding-right: 3.65vw;
}

.fragment-three h1 {
    background-color: var(--medium-dark);
    color: var(--light);
    text-align: center;
    font-size: x-large;
    padding-top: 1.04vw;
    padding-bottom: 1.04vw;
}

.fragment-three h2 {
    text-align: justify;
    font-size: large;
    padding-top: 1.04vw;
    padding-right: 6.25vw;
    padding-left: 6.25vw;
    padding-bottom: 1.04vw;
}

.fragment-three h3 {
    text-align: justify;
    font-size: large;
    padding-top: 1.04vw;
    padding-right: 2.08vw;
    padding-left: 6.25vw;
    padding-bottom: 2.6vw;
}

.fragment-three img {
    float: left;
    padding-bottom: 0.52vw;
    max-height: 21vw;
}


/* FRAG END */
.fragment-end {
    background-color: #607c77;
}

.fragment-end h1 {
    background-color: var(--medium-dark);
    color: var(--light);
    font-size: medium;
    text-align: right;
    padding-top: 2.6vw;
    padding-bottom: 1.04vw;
}